:root {
    --primary-color: #1d1d1d;
    --secondary-color: #636262;
    --navbar-color: #111111;
    --accent-color: #5db0f8;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

.nav {
    position: fixed;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    background-color: var(--navbar-color);
}

.logo {
    color: var(--accent-color);
    margin-left: 50px;
    font-family: 'Sacramento', cursive;
    font-size: 50px;
}

.menu ul {
display: flex;
align-items: center;
justify-content: end;
height: 100%;
}

.menu ul li {
    margin-right: 50px;
}

.menu ul li a {
    color: #fff;
    font-weight: bolder; 
}

.menu ul li a:hover {
    color: var(--accent-color);
}

.main-container {
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    width: 70%;
    padding: 90px 0px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid var(--accent-color);
}

.about-container {
    margin-top: 50px;
    font-size: larger;
}

.about-container span a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bolder;
}

.social-media-buttons {
    margin: 50px 0 0 25%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
}

.button {
    height: 50px;
    width: 150px;
    text-align: center;
    border: 3px solid var(--accent-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button a {
    color: white;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}

.experience-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 90px 0px; 
}

.experience-container div {
    height: 550px;
    width: 20%;
    text-align: center;
    border: 3px solid var(--accent-color);
    padding: 50px;
}

.experience-container p {
    padding-top: 30px;
    font-size: large;
}

.certificates-main-container {
    width: 100%;
    text-align: center;
}

.certificates-container {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.projects-main-container {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}

.projects-container {
    width: 20%;
    height: 100%;
    text-align: center;
}

.project-imagem {
    width: 100%;
    height: 50%;
    border: 3px solid var(--accent-color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #4b4b4b
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(36, 92, 141);
}